{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<h1>Calculator</h1>

<form action="" method="post">
    {% csrf_token %}
   
    <p><label>First Number:</label>
    <input type="number" name="first_num"/></p>

    <p><label>Second Number:</label>
    <input type="number" name="second_num"/>
     </p>
    <p class="title"><b>Сhoose an action</b></p>
    <p><input name="calc" type="radio" value="add" checked> add</p>
    <p><input name="calc" type="radio" value="subtract"> subtract</p>
    <p><input name="calc" type="radio" value="multiply"> multiply</p>
    <p><input name="calc" type="radio" value="divide"> divide </p>
    <p class="button"><input type="submit" value="Calculate"></p>

</form>


</body>
</html>